**/.secret
**/.notes
**/nppBackup
**/.env
**/.venv/
**/movies_backend/static/
**/movies_backend/media/
**/.git
**/*.log
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.pytest_cache
**/.mypy_cache
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.coverage
**/.coverage.*
**/.hypothesis